@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article .left{
    height: 230px;
    width: 400px;
    background-image: url(pic1.jpg);
    background-position: center;
    background-size: cover;
}

article .right{
    height: 230px;
    width: 400px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,208,252,1) 98%, rgba(0,212,255,1) 100%);
}

article .right p{
    font-size: 20px;
    color: white;
    padding: 12px;
    background-color: blue;
    position: relative;
    left: -50px;
    top: 40px;
    z-index: 1;
    display: inline-block;
    font-family: 'Lato';

}

 article .right h1{
     position: relative;
     top: -10px;
     left: 120px;
    width: 60px;
    height: 20px;
    color: blue;
    padding: 27px;
    background-color: white;
    font-family: 'Lato';
}