body{
	background-color: dimgray;
}
img{
	width: 50%;
	height: 50%;
	border: 10px;
	border-style: dotted;
	color:  white;

}

h1{
	text-align: center;
	font-size: 50px;
	font-family: papyrus;
	color: white;
}

h2{
	color: white ;
	font-size: 30px;
	font-family: papyrus;

}

ul{
	font-size: 20px;
	font-family: papyrus;
	color:  white;
}
.div1{
	display: flex;
	justify-content: center;
	align-items: center;

}